@media only screen and (max-width: 600px) {
    h1{
        font-size:300%;
    }
    .hddevider{
        width: 50%;
    }
    .s2p1 + img{
        width: 100%;
    }
    .s2p1{
        font-size: 20px;
    }
    .fixed{
        right: 25px;
        bottom: 25px;
    }
  }
@media only screen and (max-width: 450px) {
    .s2p1{
        font-size: 23px;
    }  
    .s2r1c2{
        padding-left: 3px;
        padding-right: 3px;
        overflow: hidden;
    }
    .s4d1p1{
        font-size: 25px;
    }
    nav{
        padding-left: 20px!important;
    }
}